{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    {% if user.is_authenticated %}
    <!-- 로그인 이후 -->
    <div>안녕하세요, {{user.username}}님</div>
    <a href="{% url 'logout' %}">로그아웃</a>
    {% else %}
    <!-- 로그인 이전 -->
    <a href="{% url 'signup' %}">회원가입</a>
    <a href="{% url 'login' %}">로그인</a>
    <a href="{% provider_login_url 'kakao' %}">카카오 로그인</a>
    {% endif %}
    
</body>
</html>

카카오
구글
페이스북
.. 소셜 로그인

과제

* 구글, 페이스북등 소셜 로그인 하나 구현하는거에요
* 구글, 페이스북 로그인 구현해오기

셤 끝나는대로 구현해오고
저희 프로젝트 css랑 구조 짜기