<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>봉사활동 모아서 알려주는 사이트</p>
    <br>
    <ul>
        {% for volunteer in volunteer_list %}
            <h1>{{volunteer.timeApprove}}</h1>
            <h5>{{volunteer.ing}}</h5>
            <h2>{{volunteer.title}}</h2>
            <h4>{{volunteer.institution}}</h4>
            <h6>{{volunteer.apply_period}}</h6>
            <h6>{{volunteer.volunteer_period}}</h6>
            <br>
        {% endfor %}
            </ul>
</body>
</html>