<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="error.css">
    <title>회원가입</title>
</head>
<body>
    <div class="registration">
        <div id="side">
        <h3 id="사이트">VOLUNTEER</h3>
        <h3 id="가입">회원가입</h3>
       <img id="volunteer" src="volunteer.png"> 
       <img id="help" src="help.png">
       <img id="register" src="register.png">
       <p id="lang">언어</p>
       <p id="login">로그인</p>
       <p id="regi">회원가입</p>
        </div>
        <br><br><br><hr>
        <div id="main">
        <p id="error">이미 존재하는 아이디/이메일 입니다</p>
        <img id="sad" src="sad.png">
        </div>
    </div>
</body>
</html>